body{
	background:linear-gradient(to bottom,#5194be,#fff);
	font:14px georgia;
	text-align:center;
}

#tasıyıcı{
	height:600px;
	width:900px;
	margin:auto;
	border: solid 1px #555;
	background-color:white;
}
#menuler{
	float:left;
	border-right:1px solid #555;
	width:190px;
	height:350px;
}

#menuler a{
	display:block;
	color:black;
	text-decoration:none;
	width:180px;
	height:40px;
	padding-left:10x;
	line-height:40px;
	
}
#menuler ul{
	list-style-type:none;
	text-align:left;
	margin:0;
	padding-left:0px;
	padding-top:20px;
}
#menuler a:hover{
	background-color:#555;
	color:#fff;
}
#icerik{
	float:left;
	width:678px;
	height:350px;
	border:solid,1px;
	text-align:justify;
	padding-left:20px;
	line-height:25px;
}
#icerik p{
	text-indent:20px;
}
#alt{
	clear:both;
	height:50px;
	background-color:#555;
	line-height:50px;
}